# appveyor.yml
---
environment:
  matrix:
    - PYTHON: "C:\\Python36-x64"
    - PYTHON: "C:\\Python37-x64"
    - PYTHON: "C:\\Python38-x64"
    - PYTHON: "C:\\Python39-x64"

build: off

install:
  - "%PYTHON%\\python.exe -m pip install wheel"
  - "%PYTHON%\\python.exe -m pip install -r requirements.txt"
  - "%PYTHON%\\python.exe -m pip install -r requirements-dev.txt"

test_script:
  - "%PYTHON%\\python.exe -m pytest xrspatial --cov=./xrspatial --cov-report=xml"

# Upload coverage to Codecov
after_test:
  - "SET PATH=C:\\Python39-x64;C:\\Python39-x64\\Scripts;%PATH%"
  - pip install codecov
  - codecov -f "coverage.xml"