include *.txt
include *.md

graft xrspatial

prune docs
prune *.egg-info

global-exclude *.png
prune conda.recipe
prune img
prune .idea

exclude examples/.ipynb_checkpoints/*
exclude examples/user_guide/*.ipynb
exclude examples/user_guide/.ipynb_checkpoints/*
exclude xrspatial/_version.py
exclude xrspatial/.DS_Store
exclude xrspatial/__pycache__/*
exclude xrspatial/examples/*
exclude xrspatial/examples/user_guide/*.ipynb
exclude xrspatial/tests/__pycache__/*
exclude xrspatial/tests/.DS_Store
exclude xrspatial/tests/_qgis_results/__pycache__/*
exclude tile_idea.py
exclude *.enc
exclude .gitignore
exclude .isort.cfg
exclude *.dot
exclude *.gif
exclude *.svg
exclude tox.ini
exclude test_examples_cli.py

include examples/*.ipynb
include *.yml

recursive-include examples *.gif
recursive-include examples *.py
recursive-include examples *.yml
