appdirs==1.4.4
attrs==19.3.0
bokeh==2.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cloudpickle==1.5.0
colorcet==2.0.2
dask==2.20.0
datashader==0.11.0
datashape==0.5.2
distlib==0.3.1
distributed==2.20.0
filelock==3.0.12
fsspec==0.7.4
HeapDict==1.0.1
idna==2.10
importlib-metadata==1.7.0
Jinja2==2.11.2
joblib==0.16.0
keyring==21.1.0
llvmlite==0.31.0
locket==0.2.0
MarkupSafe==1.1.1
more-itertools==8.4.0
msgpack==1.0.0
multipledispatch==0.6.0
numba==0.48.0
numpy==1.19.0
packaging==20.4
pandas==1.0.5
param==1.9.3
partd==1.1.0
Pillow==7.2.0
pkginfo==1.5.0.1
pluggy==0.13.1
psutil==5.7.0
py==1.9.0
pyct==0.4.6
pyparsing==2.4.7
pytest==5.4.3
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
readme-renderer==24.0
requests==2.24.0
requests-toolbelt==0.9.1
scikit-learn==0.23.1
scipy==1.5.0
six==1.15.0
sortedcontainers==2.2.2
tblib==1.6.0
threadpoolctl==2.1.0
toml==0.10.1
toolz==0.10.0
tornado==6.0.4
tox==3.16.1
tqdm==4.42.1
twine==3.1.1
typing-extensions==3.7.4.2
urllib3==1.25.9
virtualenv==20.0.25
wcwidth==0.2.5
xarray==0.15.1
xarray-spatial==0.0.2
zict==2.0.0
zipp==3.1.0
