/*
Logo
====
*/

.logo {
	max-height: 200px;
}


/*
Examples Panel
==============
*/

.examples-container {
	background-color: #e4e7eb;
}

.examples-item {
	padding: 0px;
}

.examples-item>a>img {
	width: 100%;
	height: 100%;
}

.examples-card {
	flex: 0 0 20%;
	max-width: 20%;
	padding: 0.5rem!important;
}


/*
Description Panel
=================
*/

.description-libs {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: -25px;
	margin-bottom: -15px;
}

.python {
	font-size: 1.25rem;
	margin: 1rem;
	padding-bottom: 0.5rem;
	padding-top: 0.25rem;
	width: 25%;
}

.python>img {
	display: block;
	vertical-align: middle;
	max-width: 100%;
	width: 7rem;
	margin: 0px auto;
	height: 75px;
}

.numba {
	font-size: 1.25rem;
	--tw-border-opacity: 1;
	border-color: rgba(255, 255, 255, var(--tw-border-opacity));
	margin: 1rem;
	padding-bottom: 0.5rem;
	padding-top: 0.25rem;
	width: 25%;
}

.numba>img {
	display: block;
	vertical-align: middle;
	max-width: 100%;
	width: 7rem;
	margin: 0px auto;
	height: 75px;
}

.dask {
	font-size: 1.25rem;
	margin: 1rem;
	padding-bottom: 0.5rem;
	width: 25%;
}

.dask>img {
	text-align: center;
	display: block;
	vertical-align: middle;
	max-width: 100%;
	width: 7rem;
	margin: 0px auto;
	height: 75px;
}

.description-text {
	font-weight: bold;
	justify-content: center;
	font-size: 1.2rem;
	line-height: 2.25rem;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	text-align: center;
}

.description-container {
	display: flex;
}

.description-left {
	flex: 0 0 40%;
}

.description-right {
	flex: 1;
}


/*
Header
======
*/

#navbar-main {
	background-color: #F1F1F1!important;
	border-bottom: 3px solid #16255F;
	height: 70px;
}

.navbar-brand {
	padding: 0.25rem;
}


/*
Body
====
*/

body {
	background-color: #FAFAFA!important;
	color: #353D46!important;
}


/*
Left side bar
=============
*/

.form-control {
	background-color: #FAFAFA!important;
}

[type=search] {
	background-color: #FAFAFA;
}


/*
Headings
========
*/

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #062161!important;
}

/*
Releases dropdown
========
*/

li.dropdown {
	margin-right: auto;
}

.dropdown {
	list-style: none;
}

.dropdown > a:hover {
	COLOR: #00194f;
	TEXT-DECORATION: none;
	font-weight: none;
}

div.rst-versions {
	overflow: hidden!important;
}

.deprecated-warning {
	font-family: sans-serif;
	font-weight:bold;
	text-align: center;
	background-color: pink;
	color: firebrick;
	right:0em;
	z-index:1000000000000;
}